version: 2
updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/.github/workflows"
      - "/.github/actions/prepare"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 5
    groups:
      github-actions:
        patterns:
          - "*"
